.a{
	width: 100%;
	height:500px;
	background-image: url('images/p12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.a1{
	height: 200px;
	width: 400px;
	float: right;
	margin-top: 100px;
	color:white;
}
.a2{
	height:200px;
	width:100% ;
	background-color:darkolivegreen;
}
.a21{
	height:160px ;
	width: 200px;
	background-image: url('images/p12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left:300px;
	padding-top:30px ;
	float: left;
}
.a22{
	height:160px ;
	width: 200px;
	background-image: url('images/p14.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left:20px;
	padding-top:30px ;
	float: left;
}
.a23{
	height:160px ;
	width: 200px;
	background-image: url('images/p15.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left:20px;
	padding-top:30px ;
	float: left;
}
.b{
	height:400px;
	width:1100px;
	background-color:grey;
	margin-left:80px ;
}
.b1{
	height:400px ;
	width:550px;
	background-image:url('images/p12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}
.b2{
	color: yellow;
	float: left;
	margin-left:70px ;
	margin-top:60px ;

}
.c{
	width:1040px;
	height:280px;
	background-color:yellowgreen;
	padding:100px ;
	


}
.ca{
	width:1040px;
	height:380px;
	background-color: whitesmoke;
	position:relative ;
	bottom: 50px;
}
.ch1{
	width: 520px;
	height:380px;
	background-color:;
	float:left;
	margin-top:50px;
}
.ch2{
	width: 520px;
	height:380px;
	background-color:grey;
	float:right;
	background-image: url('images/p16.jpg');
}
.p1{
	width: 260px;
	height: 190px;
	float:left;
}
.p2{
	width: 260px;
	height: 190px;
	float:right;
	background-image: url('images/p18.jpg');
}
.p3{
	width: 260px;
	height: 190px;
	float:left;
	background-image: url('images/p17.jpg');

}
.p4{
	width: 260px;
	height: 190px;
	float:left;
	background-image: url('images/p19.jpg');
}
.d{
	width:1240px;
	height:180px;
	background-color: darkolivegreen;
}
.d1{
	height: 100px;
	width:80px;
	color:white;
	float:left;
	position:relative;
	top:40px;
	right:280px;
	font-size: 30px;
}
.tex1{
	height:30;
	width:80;
	color:white;
	position: relative;
	right:30px;
}
.d2{
	height: 100px;
	width:80px;
	color:white;
	float:left;
	position:relative;
	top:40px;
	right:180px;
	font-size: 30px;
}
.tex2{
	height:30;
	width:80;
	color:white;
	position: relative;
	right:30px;
}
.d3{
	height: 100px;
	width:50px;
	color:white;
	position:relative;
	top:40px;
	right:90px;
	float:left;
	font-size: 30px;
}
.tex3{
	height:30;
	width:80;
	color:white;
	position: relative;
	right:30px;
}
.d4{
	height: 100px;
	width:50px;
	color:white;
	float:left;
	position:relative;
	top:40px;
	left:20px;
	font-size: 30px;
}
.tex4{
	height:30;
	width:80;
	color:white;
	position: relative;
	right:30px;
}
.backshadow{
	width:1240px;
	height:120px;
	background-color:darkgrey;
}
.da{
    width:1240px;
	height:400px;
	

}
.da1{
	float: left;
	width: 600px;
	height:80px;
}
.da2{
	float:left;
	width: 540px;
	
}
.f{
	width:1240px;
	height:180px;
	background-color:lightcyan;
}
.g{
	width:1240px;
	height:180px;
	background-color:darkolivegreen;
	color:white;
}
.items{
	padding-top:20px ;
	height: 50px;
	width:850px ;
}
.h{
	width:1240px;
	height:60px;
	background-color:darkslategrey;
	color:white;
}
.empty{
	width:1240px;
	height:150px;
	background-color:lightcyan;
	color:white;
}
.si{
	color:white;
	margin-top:18px ;
}
.item1{
	padding-top:20px ;
	color:white;
	position: relative;
	bottom:20px;
	

}
.div{

	width:1240 px;
	height:300px ;



}
.gw{
	color:darkolivegreen;
}
.dual{
	height:400px ;
	width:1100px;
	background-color: grey;
	margin-left:70px;
}
.dual11{
	width: 550px;
	height:400px;
	background-repeat: no-repeat;
	float:left;
	
	background-image: url('images/p88.jpg');

}
.dual12{
	width:550px;
	height:400px;
	background-color:grey;
	float:right;
}
.image{
	border-radius: 100%;
}
.dream{
	color:darkolivegreen ;
}
.design{
	color:darkolivegreen ;
}